

body{
	font-family:"Roboto","Arial",sans-serif;
	background-color: #EDC27C;
	margin: 0;
}




.topnav {
  overflow: hidden;
  background-color: #7d7459;
  font-family: Arial, sans-serif;
  border-bottom: 5px solid black ;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  position: static;
  
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: ghostwhite;
  color: black;
}

.topnav-right {
  float: right;
}

a.account{
  height: 20px ;
  position:static;
}
a.image {
  margin:50px 50px;
}

h1{
  color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
}
legend{ 
        background-color: #7d7459; 
        padding: 10px;
}
fieldset {
        background-color: rgba(33,37,41,255);
        margin-top: 20px; 
    }
button{
   background-color: #7d7459;
    color: white;
    font-size: 16px;
    width: 150px;
    border-radius: 5px;
    border: none;
    }

div.stars {
  width: 270px;
  display: inline-block;
}
 
input.star { display: none; }
 
label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}



  img {
    float: center; 
  }
  